<div class="widget-box" *ngIf="weatherData">
  
  <div class="upper">

    <div class="search">
      <form #form="ngForm" (submit)="searchCity()">
      <input type="text" placeholder="Search city" name="city" [(ngModel)]= "cityName">
    </form>
    </div>
   
    <img *ngIf="locationHour > 6 && locationHour < 11 " src="/assets/medium.jpg" alt="">
    <img *ngIf="locationHour >= 11 && locationHour < 18 " src="/assets/scattered clouds.jpg" alt="">
    <img *ngIf="weatherData.current.precip_mm" src="/assets/rain.jpg" alt="">
    <img *ngIf="locationHour <= 6 || locationHour >=18 " src="/assets/night.jpg" alt="">

    <!-- Using If with Else (please notice to templateName)

    <div *ngIf="isValid; else templateName">
        If isValid is true
    </div>
    
    <ng-template #templateName>
        If isValid is false
    </ng-template> -->


    <div class="data">
      <div *ngIf="locationHour <= 6 || locationHour >=18; else defaultColor" class="temperature" style="font-size: 100px; font-weight: 600; color: white;">{{weatherData.current.temp_c| number: '1.0-0'}}°C </div>
      <ng-template #defaultColor>
        <div class="temperature" style="font-size: 100px; font-weight: 600;">{{weatherData.current.temp_c| number: '1.0-0'}}°C </div>
    </ng-template> 

      <div *ngIf="locationHour <= 6 || locationHour >=18; else defaultColorCity" class="city" style="color: white;" > <i class="fas fa-map-marker-alt"></i> {{weatherData.location.name}}</div>
      <ng-template #defaultColorCity>
        <div class="city"> <i class="fas fa-map-marker-alt"></i> {{weatherData.location.name}}</div>
      </ng-template>
    </div>
    
    <div class="lower">
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-umbrella fa-xl" style="padding: 12px;">
          </i>
          <span>precipitation</span>
        </div>
        <div class="info-value">
          {{weatherData.current.precip_mm}} <span class="info-value-unit">mm</span> 
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-compass fa-xl" style="padding: 12px;">
          </i>
          <span>wind direction</span>
        </div>
        <div class="info-value">
          {{weatherData.current.wind_dir}}
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-wind fa-lg" style="padding: 12px;">
          </i>
          <span>wind</span>
        </div>
        <div class="info-value">
          {{weatherData.current.wind_kph}} <span class="info-value-unit">km/h</span>
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-droplet fa-lg " style="padding: 11px;">
          </i>
          <span>humidity</span>
        </div>
        <div class="info-value">
          {{weatherData.current.humidity}} <span class="info-value-unit">%</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="widget-box mb-5 rounded-5">
  <div class="upper">
    <img src="/assets/scattered clouds.jpg" alt="">
    <div class="data">
      <div class="temperature" style="font-size: 100px; font-weight: 600;">{{23.54 | number: '1.0-0'}}°C </div>
      <div class="city"> <i class="fas fa-map-marker-alt"></i> {{weatherData}}</div>
    </div>
    <div class="lower">
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-temperature-low fa-xl" style="padding: 12px;">
          </i>
          <span>min</span>
        </div>
        <div class="info-value">
          14
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-temperature-high fa-xl" style="padding: 12px;">
          </i>
          <span>max</span>
        </div>
        <div class="info-value">
          14
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-wind fa-lg" style="padding: 12px;">
          </i>
          <span>wind</span>
        </div>
        <div class="info-value">
          14
        </div>
      </div>
      <div class="info-bl">
        <div class="info-illustrate">
          <i class="fa-solid fa-droplet fa-lg " style="padding: 11px;">
          </i>
          <span>humidity</span>
        </div>
        <div class="info-value">
          14
        </div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>