/* You can add global styles to this file, and also import other style files */
:root{
    --blue-1:  rgb(61, 63, 160);
}
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--blue-1) !important;
}